@page "/educatorlist"
@using System.ComponentModel.DataAnnotations
@using static Classes.Educator;
@using Classes;
@rendermode InteractiveServer
@inject IJSRuntime JS

<h3>ListingEducator</h3>

<!-- Dette er siden for å liste opp alle faglige ansatte. 
	vurderes å sortere de etter fagenhet.
	Bruke en tabell for å vise informasjonen.
	Det skal være mulig å redigere og slette en fagperson fra denne siden.
	Det skal være mulig å legge til ny fagperson. Dette kan være ny metode eller linke til AddingEducator siden. 
	style listen med css.

-->


@if(educators == null || educators.Count ==0)
{
	<p>loading educators...</p>
}
else
{
	
	<table class="table">
		<thead>
			<tr>
				<th> Fornavn </th>
				<th> Etternavn </th>
				<th> Fødselsdato </th>
				<th> E-post </th>
				<th> Alder </th>
				<th> Prosentstilling </th>
				<th> Prosent forskning</th>
				<th> Utdanning høst </th>
				<th> Utdanning vår </th>
				<th> </th>
				<th> </th>
			</tr>
		</thead>
		<tbody>
			<tr id="Editrow">
				<td>
					
					<input id="InputFirstName" type="text" />
				</td>
				<td><input id="InputLastName" type="text" /> </td>
				<td>

					<input id="InputBirthDate" type="date" @bind="inputBirthDate" />
				</td>
				<td><input id="InputEmail" type="email" /> </td>
				<td> @DisplayNewAge(inputBirthDate) </td>
				<td><input id="InputPercentagePosition" type="number" @bind="inputPositionPercentage"  /> </td>
				<td><input id="InputPercentageRND" type="number" @bind="inputRNDPercentage" /> </td>
				<td></td>
				<td></td>
				<td> 
					<button class="btn btn-primary" @onclick="() => AddRow()"><i class="bi bi-plus-lg"></i></button>
				</td>
			</tr>


			@foreach(var educator in educators)
			{
				<tr>
					<td>@educator.FirstName</td>
					<td>@educator.LastName</td>
					<td>@educator.BirthDate.ToShortDateString()</td>
					<td>@educator.Email</td>
					<td>@educator.Age</td>
					<td>@educator.PercentagePosition</td>
					<td>@educator.PercentageRND</td>
					<td>@((educator.HoursEducationFall/100f).ToString("F2"))</td>
					<td>@((educator.HoursEducationSpring/100f).ToString("F2"))</td>
					<td> 
						<button class="btn btn-primary" @onclick="() => DeleteRow(educator)"><i class="bi bi-trash"></i></button>
					</td>
					<td> 
						<button class="btn btn-primary" @onclick="() => EditRow(educator)"><i class="bi bi-pencil"></i></button>
					</td>

				</tr>
			}
		</tbody>
	</table>	
}



@code {
	
	private List<Educator> educators = new List<Educator>();
	private DateTime inputBirthDate = DateTime.Today;
	private int inputRNDPercentage = 20;
	private int inputPositionPercentage = 100;
	
	

	protected override void OnInitialized()
	{
		educators.Add(new Educator("Ola", "Nordmann", new DateTime(1980, 3, 15), "ola@NTNU.no", 20,100));
		educators.Add(new Educator("Kari", "Nordmann", new DateTime(1975, 5, 15), "kari@UIO.no", 20,100)); 
		educators.Add(new Educator("Per", "Hansen", new DateTime(1970, 7, 20), "Per@UIA.no", 20,100));
		educators.Add(new Educator("Lise", "Olsen", new DateTime(1965, 11, 30), "lise@NTNU.no", 20,100));
		educators.Add(new Educator("Nina", "Larsen", new DateTime(1960, 1, 25), "nina@UIT.no", 20,100)); 
	}

	private void DeleteRow(Educator RemoveEducator)
	{
		if (RemoveEducator != null)
		{
			educators.Remove(RemoveEducator);
		}
		else
		{
			throw new ArgumentNullException(nameof(RemoveEducator), "Educator to remove cannot be null.");
		}
	}

	private void EditRow(Educator EditEducator)
	{
		// Implement edit functionality here
	}

	private void AddRow()
	{
		
	}
	
	private int DisplayNewAge(DateTime birthDate)
	{
		
		int age = Educator.CalculateAge(birthDate);
		return age;	
	}

	//create new methods to have updated values when input fields change for Education hours fall and spring

	private float DisplayEducationHoursFall()
	{
		//more to come here
	}
	private float DisplayEducationHoursSpring()
	{
		//more to come here
	}
}
