@page "/ListingActivities"
@using System.ComponentModel.DataAnnotations
@inject Classes.Interfaces.IActivities activities
@inject Classes.Interfaces.ICategories categories
@inject Classes.Interfaces.ISubjects subjects
@inject Classes.Interfaces.IEducators educators
@using Classes
@rendermode InteractiveServer
@inject IJSRuntime JS


<h3>Undervisnings aktivitet</h3>

<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Dato</th>
			<th>Aktivitets navn</th>
			<th> Antall timer</th>
			<th> Beregnet tid</th>
			<th> Kategori</th>
			<th>Studieretning</th>

			<th>Beskrivelse</th>
			<th>Foreleser</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr id="Editrow">
			<td>@newActivity.ActivityID</td>
			<td><input id="InputDate" type="date" @bind="newActivity.ActivityDate" /></td>
			<td><input id="InputActivityName" type="text" @bind="newActivity.ActivityName" /> </td>
			<td><input id="InputNumberOfHours" type="number" @bind="newActivity.ActivityHours" /></td>
			<td> @newActivity.CalculatedHours </td>
			<td><select id="InputCategory" type="text" @bind="newActivity.ActivityCategory">
				@foreach (var category in categories.GetCategories())
				{
					<option value="@category.CategoryName">@category.CategoryName</option>
				}
			</select></td> 
			<td><select id="InputStudyProgram" type="text" @bind="newActivity.SubjectCode">
				@foreach (var subject in subjects.GetSubjects())
				{
					<option value="@subject.SubjectCode">@subject.SubjectCode</option>
				}
			</select> </td> <!-- Bytte ut med emner -->
			<td><input id="InputDescription" type="text" @bind="newActivity.ActivityDescription" /></td>
			<td><select id="InputEducatorFirstName" type="text" @bind="newActivity.EducatorFullName">
				@foreach (var educator in educators.GetEducators())
				{
					<option value="@educator.FullName">@educator.FullName</option>
				}
			</select>   </td> <!-- Slå sammen fornavn og etter navn til fullt navn-->
			
			<td> 
				<button class="btn btn-primary" @onclick="() => AddRow()"><i class="bi bi-plus-lg"></i></button>
			</td>
		</tr>
		@if (activities == null || activities.CountActivities() == 0)
		{
			<tr>
				<td colspan="5"> Ingen aktiviteter lagt til. </td>
			</tr>
		}
		else
		{
			@foreach (var activity in activities.GetActivities())
			{
				<tr>
					<td> @activity.ActivityID </td>
					<td> @activity.ActivityDate </td>
					<td> @activity.ActivityName </td>
					<td> @activity.ActivityHours </td>
					<td> @activity.CalculatedHours </td>
					<td> @activity.ActivityCategory </td>
					<td> @activity.SubjectCode </td>
					<td> @activity.ActivityDescription </td>
					<td> @activity.EducatorFullName </td>
					
					<td>
						<button class="btn btn-primary" @onclick="() => DeleteRow(activity)"><i class="bi bi-trash"></i></button>
					</td>
					<td>
						<button class="btn btn-primary" @onclick="() => EditRow(activity)"><i class="bi bi-pencil"></i></button>
					</td>
				</tr>
			}
		}
		
	</tbody>
</table>

@code {


	private Activity newActivity = new Activity
	{
		ActivityDate = DateTime.Today
	};

	private void AddRow()
	{
		if (activities.FindActivityByID(newActivity.ActivityID) != null)
		{
			Activity existingActivity = newActivity;
			activities.UpdateActivity(existingActivity);
		}
		else
		{
			activities.AddActivity(newActivity);
		}
		newActivity = new Activity
		{
			ActivityDate = DateTime.Today
		};

	}

	private void DeleteRow(Activity activity)
	{
		if(activity != null)
		{
			activities.RemoveActivity(activity);
		}
		
	}

	private void EditRow(Activity activity)
	{
		newActivity = activity;
	}

}
