@page "/educatorlist"
@using System.ComponentModel.DataAnnotations
@inject EducatorList educators

@using Classes
@rendermode InteractiveServer
@inject IJSRuntime JS

<h3>Liste forelesere</h3>

<!-- Dette er siden for å liste opp alle faglige ansatte. 
	vurderes å sortere de etter fagenhet.
	Bruke en tabell for å vise informasjonen.
	Det skal være mulig å redigere og slette en fagperson fra denne siden.
	Det skal være mulig å legge til ny fagperson. Dette kan være ny metode eller linke til AddingEducator siden. 
	style listen med css.

-->
	<table class="table">
		<thead>
			<tr>
				<th> Fornavn </th>
				<th> Etternavn </th>
				<th> Fødselsdato </th>
				<th> E-post </th>
				<th> Alder </th>
				<th> Utdanningsbakgrunn </th>
				<th> Spesialisering </th>
				<th> Prosentstilling </th>
				<th> Prosent forskning</th>
				<th> Utdanning høst </th>
				<th> Utdanning vår </th>
				<th> </th>
				<th> </th>
			</tr>
		</thead>
		<tbody>
			<tr id="Editrow">
				<td>
					
					<input id="InputFirstName" type="text" @bind="newEducator.FirstName" />
				</td>
				<td><input id="InputLastName" type="text" @bind="newEducator.LastName" /> </td>
				<td>

					<input id="InputBirthDate" type="date" @bind="newEducator.BirthDate" />
				</td>
				<td><input id="InputEmail" type="email" @bind="newEducator.Email" /> </td>
				<td> @DisplayNewAge(newEducator.BirthDate) </td>
				<td><input id="InputEdducationBackground" type="text" @bind="newEducator.EducationBackground" /></td>
			<td><input id="InputSpecialization" type="text" @bind="newEducator.Specialization" /></td>
				<td><input id="InputPercentagePosition" type="number" @bind="newEducator.PercentagePosition"  /> </td>
				<td><input id="InputPercentageRND" type="number" @bind="newEducator.PercentageRND" /> </td>
				<td>@((DisplayEducationHoursFall(newEducator.BirthDate,newEducator.PercentageRND,newEducator.PercentagePosition)).ToString("F2"))</td>
				<td>@((DisplayEducationHoursSpring(newEducator.BirthDate, newEducator.PercentageRND, newEducator.PercentagePosition)).ToString("F2"))</td>
				<td> 
					<button class="btn btn-primary" @onclick="() => AddRow()"><i class="bi bi-plus-lg"></i></button>
				</td>
			</tr>
			@if(educators == null || educators.Count ==0)
			{
			<p>loading educators...</p>
			}
			else
			{
				@foreach (var educator in educators.educatorsList)
				{
					<tr>
						<td>@educator.FirstName</td>
						<td>@educator.LastName</td>
						<td>@educator.BirthDate.ToShortDateString()</td>
						<td>@educator.Email</td>
						<td>@educator.Age</td>
						<td>@educator.PercentagePosition</td>
						<td>@educator.PercentageRND</td>
						<td>@((educator.HoursEducationFall).ToString("F2"))</td>
						<td>@((educator.HoursEducationSpring).ToString("F2"))</td>
						<td> 
							<button class="btn btn-primary" @onclick="() => DeleteRow(educator)"><i class="bi bi-trash"></i></button>
						</td>
						<td> 
							<button class="btn btn-primary" @onclick="() => EditRow(educator)"><i class="bi bi-pencil"></i></button>
						</td>
					</tr>
				}
			}
		</tbody>
	</table>	
@code {


	private class InputModel
	{
		[Required]
		public string FirstName { get; set; }
		[Required]
		public string LastName { get; set; }
		[Required]
		public DateTime BirthDate { get; set; } = DateTime.Today;
		[Required]
		public string EducationBackground { get; set; }
		[Required]
		public string Specialization { get; set; }
		[Required]
		[EmailAddress]
		public string Email { get; set; }
		[Range(0, 100)]
		public int PercentagePosition { get; set; }
		[Range(0, 100)]
		public int PercentageRND { get; set; }
	}

	private InputModel newEducator = new InputModel();

	private void DeleteRow(Educator RemoveEducator)
	{
	if (RemoveEducator != null)
	{
		educators.RemoveEducator(RemoveEducator);
	}
	else
	{
		throw new ArgumentNullException(nameof(RemoveEducator), "Educator to remove cannot be null.");
	}
	}

	private void EditRow(Educator EditEducator)
	{
	newEducator.FirstName = EditEducator.FirstName;
	newEducator.LastName = EditEducator.LastName;
	newEducator.BirthDate = EditEducator.BirthDate;
	newEducator.Email = EditEducator.Email;
	newEducator.PercentagePosition = EditEducator.PercentagePosition;
	newEducator.PercentageRND = EditEducator.PercentageRND;
	}

	private void AddRow()
	{
		Educator educatorToAdd = new Educator(
			newEducator.FirstName,
			newEducator.LastName,
			newEducator.BirthDate,
			newEducator.Email,
			newEducator.PercentageRND,
			newEducator.PercentagePosition
		);
		if ((educators.FindEducatorByName($"{newEducator.LastName}, {newEducator.FirstName}") != null))
		{
			educators.UpdateEducator(educatorToAdd);
		}
		else
		{
			educators.AddEducator(educatorToAdd);
		}

			
			
	}

	private int DisplayNewAge(DateTime birthDate)
	{
		
		int age = Educator.CalculateAge(birthDate);
		return age;	
	}


	//create new methods to have updated values when input fields change for Education hours fall and spring

	private float DisplayEducationHoursFall(DateTime birthdate, int rnd, int positionpercentage)
	{
		Educator educator = new Educator();
		float hoursFall = educator.CalculateHoursForEducationFall(birthdate, rnd, positionpercentage);
		return hoursFall;
	}
	
	private float DisplayEducationHoursSpring(DateTime birthdate, int rnd, int positionpercentage)
	{
		Educator educator = new Educator();
		float hoursSpring = educator.CalculateHoursForEducationSpring(birthdate, rnd, positionpercentage);
		return hoursSpring;
	}
	
}
