@page "/StatisticField"
@using System.ComponentModel.DataAnnotations
@inject Classes.Interfaces.IActivities activities
@inject Classes.Interfaces.ICategories categories
@inject Classes.Interfaces.ISubjects subjects
@inject Classes.Interfaces.IFields fields
@inject Classes.Interfaces.IEducators educators
@inject Components.Services.SelectedFieldService selectedFieldService
@inject Classes.Interfaces.IActivityEditorService activityEditorService
@using Classes
@rendermode InteractiveServer
@inject IJSRuntime JS

<h3>Oversikt @selectedFieldService.Current.FieldTitle</h3>


<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Dato</th>
			<th>Aktivitets navn</th>
			<th> Antall timer</th>
			<th> Kategori</th>
			<th> Beregnet tid</th>
			<th>Emnekode</th>
			<th>Fagenhet</th>
			<th>Beskrivelse</th>
			<th>Foreleser</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<!-- go through table body and modify-->
		<tr id="Editrow">
			<td>@activityEditorService.Current.ActivityID</td>
			<td><input id="InputDate" type="date" @bind="activityEditorService.Current.ActivityDate" /></td>
			<td><input id="InputActivityName" type="text" @bind="activityEditorService.Current.ActivityName" /> </td>
			<td><input id="InputNumberOfHours" type="number" @bind="activityEditorService.Current.ActivityHours" @bind:after="() => activityEditorService.UpdateCalculatedHours(categories.FindCategory(activityEditorService.Current.ActivityCategory)?.HoursMultiplier ?? 1f)" @bind:event="oninput" /></td>
			<td>
				<select id="InputCategory" type="text" @bind="activityEditorService.Current.ActivityCategory" @bind:after="() => activityEditorService.UpdateCalculatedHours(categories.FindCategory(activityEditorService.Current.ActivityCategory)?.HoursMultiplier ?? 1f)" @bind:event="oninput">
					@foreach (var category in categories.GetCategories())
					{
						<option value="@category.CategoryName">@category.CategoryName</option>
					}
				</select>
			</td>
			<td> <input id="InputCalculatedHours" type="number" @bind="activityEditorService.Current.CalculatedHours" readonly /> </td>
			<td>
				<select id="InputStudyProgram" type="text" @bind="activityEditorService.Current.SubjectCode">
					@foreach (var subject in subjects.GetSubjects())
					{
						<option value="@subject.SubjectCode">@subject.SubjectCode</option>
					}
				</select>
			</td>
			<td>
			<td>
				<select id="InputField" type="text" @bind="activityEditorService.Current.FieldTitle">
					@foreach (var field in fields.GetFields())
					{
						if(field.FieldTitle == selectedFieldService.Current.FieldTitle)
						{
							<option selected value="@field.FieldTitle">@field.FieldTitle</option>
						}
						
					}
				</select>
			</td>
			</td>
			<td><input id="InputDescription" type="text" @bind="activityEditorService.Current.ActivityDescription" /></td>
			<td>
				<select id="InputEducatorFirstName" type="text" @bind="activityEditorService.Current.EducatorFullName">
					@foreach (var educator in educators.GetEducators())
					{
						<option value="@educator.FullName">@educator.FullName</option>
					}
				</select>
			</td> <!-- Slå sammen fornavn og etter navn til fullt navn-->

			<td>
				<button class="btn btn-primary" @onclick="() => activityEditorService.AddOrUpdate()"><i class="bi bi-plus-lg"></i></button>
			</td>
		</tr>
		@if (activities == null || activities.CountActivities() == 0)
		{
			<tr>
				<td colspan="5"> Ingen aktiviteter lagt til. </td>
			</tr>
		}
		else
		{
			@foreach (var activity in activities.GetActivities())
			{
				if (activity.FieldTitle == selectedFieldService.Current.FieldTitle)
				{
					
					<tr>
						<td> @activity.ActivityID </td>
						<td> @activity.ActivityDate </td>
						<td> @activity.ActivityName </td>
						<td> @activity.ActivityHours </td>
						<td> @activity.ActivityCategory </td>
						<td> @activity.CalculatedHours </td>
						<td> @activity.SubjectCode </td>
						<td> @activity.FieldTitle </td>
						<td> @activity.ActivityDescription </td>
						<td> @activity.EducatorFullName </td>

						<td>
							<button class="btn btn-primary" @onclick="() => activityEditorService.Delete(activity)"><i class="bi bi-trash"></i></button>
						</td>
						<td>
							<button class="btn btn-primary" @onclick="() => activityEditorService.StartEdit(activity)"><i class="bi bi-pencil"></i></button>
						</td>
					</tr>
				}
				
			}
		}

		<tr>
			<td colspan="5"><strong>Totalt antall timer:</strong></td>
			<td>@GetTotalHoursForField()</td>
		</tr>
	</tbody>

</table>

@code {
	

	private float GetTotalHoursForField()
	{
		float totalHours = 0;
		if (activities != null || selectedFieldService.Current != null)
		{
			totalHours = activities.GetActivities().Where(a => a.FieldTitle == selectedFieldService.Current.FieldTitle).Sum(a => a.CalculatedHours);
		}
		return totalHours;
	}

	private float GetCountofActivitiesForField()
	{
		int totalActivities = 0;
		if (activities != null || selectedFieldService.Current != null)
		{
			totalActivities = activities.GetActivities().Where(a => a.FieldTitle == selectedFieldService.Current.FieldTitle).Count();
		}
		return totalActivities;
	}

	
	private float totalHoursFall(Field selectedField, List<Activity> activities, DateTime dateFrom, DateTime dateTo)
	{
		float total = 0;
		int year = dateFrom.Year;
		DateTime lastDate = new DateTime(year, 12, 31);

		foreach (var activity in activities)
		{
			if ((activity.FieldTitle == activity.FieldTitle) && (dateFrom < activity.ActivityDate) && (activity.ActivityDate < lastDate))
			{
				total += activity.CalculatedHours;
			}
		}


		return total;
	}

	private float totalHoursSpring(Field selectedField, List<Activity> activities, DateTime dateFrom, DateTime dateTo)
	{
		float total = 0;
		int year = dateTo.Year;
		DateTime firstDate = new DateTime(year, 1, 1);

		foreach (var activity in activities)
		{
			if ((activity.FieldTitle == selectedField.FieldTitle) && (firstDate < activity.ActivityDate) && (activity.ActivityDate < dateTo))
			{
				total += activity.CalculatedHours;
			}
		}

		return total;
	}

	

	

	

	
}
